* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 60px 60px;
    height: 900px;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: lightgray;
}

.menu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.menu ul li a:hover {
    color: blue;
    transition: 0.3s ease-in-out;
}

.image img {
    width: 570px;
    height: 444;
    margin-top: 60px;
}


.grid-container .grid-section {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
    margin-left: 250px;
    width: 846px;
    height: 341px;
    gap: 50px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list {
    margin-top: 50px;
    line-height: 2;
}
